<div class="review" ng-repeat="reviews in allreviews | notMine:userId">
        <a ng-href="/#/userReviews/{{reviews.userId}}" class="movie-list">
            <span class="movie-title">{{reviews.userName}}</span>
        </a>
        <span class="movie-rating">
            <span class="star" ng-class="{'star-active': reviews.stars >= 1}"></span>
            <span class="star" ng-class="{'star-active': reviews.stars >= 2}"></span>
            <span class="star" ng-class="{'star-active': reviews.stars >= 3}"></span>
            <span class="star" ng-class="{'star-active': reviews.stars >= 4}"></span>
            <span class="star" ng-class="{'star-active': reviews.stars == 5}"></span>
        </span>
        <p> {{reviews.blog}} </p>    </span>

</div>