<div class="row">
    <div class="col col-25">
        <a href="/#/reviews" class="movie-list">
            <img class="movie-poster" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTYwNjAyODIyMF5BMl5BanBnXkFtZTYwNDMwMDk2._V1_SX300.jpg" alt="Movie Title">
            <span class="movie-title">Movie Title</span>
        </a>
        <span class="movie-rating">
            <span class="star star-active"></span>
            <span class="star star-active"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </span>
    </div>
    <div class="col col-25">
        <a href="/#/reviews" class="movie-list">
            <img class="movie-poster" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTYwNjAyODIyMF5BMl5BanBnXkFtZTYwNDMwMDk2._V1_SX300.jpg" alt="Movie Title">
            <span class="movie-title">Movie Title</span>
        </a>
        <span class="movie-rating">
            <span class="star star-active"></span>
            <span class="star star-active"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </span>
    </div>
    <div class="col col-25">
        <a href="/#/reviews" class="movie-list">
            <img class="movie-poster" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTYwNjAyODIyMF5BMl5BanBnXkFtZTYwNDMwMDk2._V1_SX300.jpg" alt="Movie Title">
            <span class="movie-title">Movie Title</span>
        </a>
        <span class="movie-rating">
            <span class="star star-active"></span>
            <span class="star star-active"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </span>
    </div>
    <div class="col col-25">
        <a href="/#/reviews" class="movie-list">
            <img class="movie-poster" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTYwNjAyODIyMF5BMl5BanBnXkFtZTYwNDMwMDk2._V1_SX300.jpg" alt="Movie Title">
            <span class="movie-title">Movie Title</span>
        </a>
        <span class="movie-rating">
            <span class="star star-active"></span>
            <span class="star star-active"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </span>
    </div>
    <div class="col col-25">
        <a href="/#/reviews" class="movie-list">
            <img class="movie-poster" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTYwNjAyODIyMF5BMl5BanBnXkFtZTYwNDMwMDk2._V1_SX300.jpg" alt="Movie Title">
            <span class="movie-title">Movie Title</span>
        </a>
        <span class="movie-rating">
            <span class="star star-active"></span>
            <span class="star star-active"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </span>
    </div>
</div>



<h1>Main</h1>

<label>Name:
    <input type="text" ng-model="newUser.name" name="uName" required="">
    <input type="submit" ng-click="addItem()" value="Save">
</label>

<a href="/#/reviews">Go to Reviews</a>
