<h4>Top Rated LAZ Movies</h4>
<div class="row">
    <div class="col col-20" ng-repeat="movie in topMovies | orderBy: '-averageStars'">
        <a ng-href="/#/reviews/{{movie.imdbID}}" class="movie-list">
            <poster movie="movie"></poster>
            <span class="movie-title">{{movie.Title}}</span>
        </a>
        <span class="movie-rating">
            <span class="star" ng-class="{'star-active': movie.averageStars > 0.5}"></span>
            <span class="star" ng-class="{'star-active': movie.averageStars > 1.5}"></span>
            <span class="star" ng-class="{'star-active': movie.averageStars > 2.5}"></span>
            <span class="star" ng-class="{'star-active': movie.averageStars > 3.5}"></span>
            <span class="star" ng-class="{'star-active': movie.averageStars > 4.5}"></span>
        </span>
    </div>

</div>
