<img ng-src="{{movie.Poster}}" class="movie-poster movie-poster-page float-xs-right">
<h1>{{movie.Title}} ({{movie.Year}})<br /><span class="small">{{movie.Rated}}</span></h1>

<span class="movie-rating">
    Average User Rating:
    <span class="star star-active"></span>
    <span class="star star-active"></span>
    <span class="star"></span>
    <span class="star"></span>
    <span class="star"></span>
</span>

<p class="movie-description">{{movie.Plot}}</p>
<blockquote>
    <strong>Runtime:</strong> {{movie.Runtime}}</br>
    <strong>Genre:</strong> {{movie.Genre}}</br>
    <strong>Director:</strong> {{movie.Director}}</br>
    <strong>Writer:</strong> {{movie.Writer}}</br>
    <strong>Actors:</strong> {{movie.Actors}}</br>
    <strong>Directors:</strong> {{movie.Director}}</br>
    <strong>Awards:</strong> {{movie.Awards}}</br>
    <strong>Meta Score:</strong> {{movie.Metascore}}</br>
    <strong>imdb Rating:</strong> {{movie.imdbRating}}</br>
</blockquote>
<hr />
<span class="movie-rating">
    Rate this movie:
    <span class="star star-hover" ng-click="myreview.stars = 1" ng-class="{'star-active': myreview.stars >= 1}"></span>
    <span class="star star-hover" ng-click="myreview.stars = 2" ng-class="{'star-active': myreview.stars >= 2}"></span>
    <span class="star star-hover" ng-click="myreview.stars = 3" ng-class="{'star-active': myreview.stars >= 3}"></span>
    <span class="star star-hover" ng-click="myreview.stars = 4" ng-class="{'star-active': myreview.stars >= 4}"></span>
    <span class="star star-hover" ng-click="myreview.stars = 5" ng-class="{'star-active': myreview.stars == 5}"></span>

    <textarea ng-model="myreview.blog" placeholder="Comment"> </textarea>
    <button ng-click="addReview()" class="btn btn-primary">Submit</button>
</span>


        <input type="hidden" ng-model="stars" value="1">
        <input type="hidden" ng-model="stars" value="2">
        <input type="hidden" ng-model="stars" value="3">
        <input type="hidden" ng-model="stars" value="4">
        <input type="hidden" ng-model="stars" value="5">


<hr />
<div class="review">
    <h4>user</h4>
    <span class="movie-rating">
        <span class="star star-active"></span>
        <span class="star star-active"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
    </span>
    <p>Lorem ipsum dolor sit amet, partem scripta dissentiet mei at, eum albucius nominati in. Noster gubergren in eam, ei semper percipit pro. Quodsi alterum minimum has ad. No per stet utroque. Soluta senserit an sed, facer pertinax mnesarchum pri et. Te nam illum eripuit, vis et debitis adipiscing percipitur, eu vide dolore mei.</p>
</div>
