<div ng-show="results.Error" class="alert alert-warning">{{results.Error}}</div>
<div ng-show="results.Search.length" class="row">
    <div class="col col-20" ng-repeat="movie in results.Search | orderBy: '-averageStars'">
        <a ng-href="/#/reviews/{{movie.imdbID}}" class="movie-list">
            <img class="movie-poster" ng-src="{{movie.Poster}}" alt="{{movie.Title}}">
            <span class="movie-title">{{movie.Title}}</span>
        </a>
        <span class="movie-rating" ng-if="movie.averageStars > 0">
            <span class="star star-hover" ng-class="{'star-active': movie.averageStars > 0.5}"></span>
            <span class="star star-hover" ng-class="{'star-active': movie.averageStars > 1.5}"></span>
            <span class="star star-hover" ng-class="{'star-active': movie.averageStars > 2.5}"></span>
            <span class="star star-hover" ng-class="{'star-active': movie.averageStars > 3.5}"></span>
            <span class="star star-hover" ng-class="{'star-active': movie.averageStars > 4.5}"></span>
        </span>
    </div>
    Showing {{results.Search.length}} of {{results.totalResults}} total results.
</div>
