<img ng-src="{{movie.Poster}}" class="movie-poster movie-poster-page float-xs-right">
<h1>{{movie.Title}} ({{movie.Year}})<br /><span class="small">{{movie.Rated}}</span></h1>

<span class="movie-rating">
    Average User Rating:
    <span class="star" ng-class="{'star-active': averageStars >= 1}"></span>
    <span class="star" ng-class="{'star-active': averageStars >= 2}"></span>
    <span class="star" ng-class="{'star-active': averageStars >= 3}"></span>
    <span class="star" ng-class="{'star-active': averageStars >= 4}"></span>
    <span class="star" ng-class="{'star-active': averageStars == 5}"></span>
</span>

<p class="movie-description">{{movie.Plot}}</p>
<blockquote>
    <strong>Runtime:</strong> {{movie.Runtime}}</br>
    <strong>Genre:</strong> {{movie.Genre}}</br>
    <strong>Director:</strong> {{movie.Director}}</br>
    <strong>Writer:</strong> {{movie.Writer}}</br>
    <strong>Actors:</strong> {{movie.Actors}}</br>
    <strong>Directors:</strong> {{movie.Director}}</br>
    <strong>Awards:</strong> {{movie.Awards}}</br>
    <strong>Meta Score:</strong> {{movie.Metascore}}</br>
    <strong>imdb Rating:</strong> {{movie.imdbRating}}</br>
</blockquote>
<hr />
<span class="movie-rating">
    Rate this movie:
    <span class="star star-hover" ng-click="myreview.stars = 1" ng-class="{'star-active': myreview.stars >= 1}"></span>
    <span class="star star-hover" ng-click="myreview.stars = 2" ng-class="{'star-active': myreview.stars >= 2}"></span>
    <span class="star star-hover" ng-click="myreview.stars = 3" ng-class="{'star-active': myreview.stars >= 3}"></span>
    <span class="star star-hover" ng-click="myreview.stars = 4" ng-class="{'star-active': myreview.stars >= 4}"></span>
    <span class="star star-hover" ng-click="myreview.stars = 5" ng-class="{'star-active': myreview.stars == 5}"></span>

    <textarea ng-model="myreview.blog" placeholder="Comment"> </textarea>
    <button ng-click="addReview()" class="btn btn-primary">Submit</button>
</span>


        <input type="hidden" ng-model="stars" value="1">
        <input type="hidden" ng-model="stars" value="2">
        <input type="hidden" ng-model="stars" value="3">
        <input type="hidden" ng-model="stars" value="4">
        <input type="hidden" ng-model="stars" value="5">

<hr />

<!--
<individual-movie-review-list movieId="movieId" userId="userId"></individual-movie-review-list>
-->

<div class="review" ng-repeat="reviews in allreviews | notMine:myreview.userId"">
    <a ng-href="/#/reviews/{{reviews.movieId}}" class="movie-list">
        <span class="movie-title">{{reviews.userName}}</span>
    </a>
    <span class="movie-rating">
            <span class="star" ng-class="{'star-active': reviews.stars >= 1}"></span>
            <span class="star" ng-class="{'star-active': reviews.stars >= 2}"></span>
            <span class="star" ng-class="{'star-active': reviews.stars >= 3}"></span>
            <span class="star" ng-class="{'star-active': reviews.stars >= 4}"></span>
            <span class="star" ng-class="{'star-active': reviews.stars == 5}"></span>
        </span>
    <textarea ng-model="reviews.blog"> </textarea>    </span>
</div>
